.navigation ul li a {
    font-size: 17px;
}
.min-logo a {
    display: block;
    padding: 8px 24px;
}
.min-logo img {
    max-height: 50px;
}

ul.slides {
    margin-bottom: 0;
    float: none;
}
ul.slides li {
    float: none;
}
ul.slides li img {
    display: block;
    width: auto;
    height: 400px;
    margin: 0 auto;
}