{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<!--- Wrapper Start -->
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- BreadCrumb Start -->
    <div class="breadcrumb webkit">
        <!-- Container Start -->
        <div class="container">
            <h1 class="color">{{ album.name }}</h1>
        </div>
        <!-- Container End -->
    </div>
    <!-- BreadCrumb End -->
    <div class="clear"></div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Gallery Start -->
                    <div class="gallery-page kf-gallery-pp">
                        <div class="heading"><h2><a href="{{ path('eam_default_galleries_addimage', {'idAlbum': album.id}) }}">Ajouter une image</a></h2></div>
                        <div class="minus-margin gallery-four-col">
                            {% for image in album.images %}
                            <article>
                                <figure>
                                    <a href="#"><img src="{{ image.url }}" alt=""></a>
                                    <figcaption><a data-rel="prettyphoto[]" href="{{ path('eam_default_galleries_deleteimage', {'id' : image.id, 'idAlbum': album.id}) }}" class="color webkit">x</a></figcaption>
                                </figure>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Gallery End -->
                    <!-- Pagination Start -->
                    <nav class="pagination">
                        <ul>
                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <!-- Pagination End -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    <!--- Footer Start -->
    <footer>
        <!-- Footer Widget Start -->
        <div class="footer-widget">
            <!-- Container Start -->
            <div class="container">
                <!-- Widget Text Start -->
                <div class="widget widget-text">
                    <div class="heading"><h3>About <span class="color"> Music Press</span></h3></div>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,</p>
                </div>
                <!-- Widget Text Start -->
                <!-- Widget Twitter Start -->
                <div class="widget widget-twitter">
                    <div class="heading"><h3>Recent <span class="color"> Tweets</span></h3></div>
                    <div class="peragraph webkit">The <a href="#">#blackandwhiteamerica</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at purus vel sem isque gravida. lentesque vitae mi in purus commodo mollis eu at. neque.</div>
                    <p><a href="#" class="colorhover">Lenny Kravitz </a> (15 hours ago)</p>
                </div>
                <!-- Widget Twitter End -->
                <!-- Widget Gallery Start -->
                 <div class="widget kf-gallery-pp widget-gallery">
                    <div class="heading"><h3>Flickr <span class="color"> Gallery</span></h3></div>
                    <ul>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget1.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget2.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget3.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget4.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget5.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget6.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget7.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget1.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget3.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget4.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget5.jpg" alt=""></a></li>
                        <li><a data-rel="prettyphoto[]" href="images/blog1.jpg"><img src="images/widget6.jpg" alt=""></a></li>
                    </ul>
                </div>
                <!-- Widget Gallery End -->
                <!-- Widget Twitter Start -->
                <div class="widget widget-newslatter">
                    <div class="heading"><h3>Signup for <span class="color"> Newsletters</span></h3></div>
                    <p>By subscribing to our mailing list you will always be update with the latest news from us.Remember.. We never spam!</p>
                    <form>
                        <input type="text" value="Enter you full name">
                        <input type="text" value="Enter your Email ID">
                        <input type="submit" value="Submit">
                    </form>
                </div>
                <!-- Widget Twitter End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Footer Widget End -->
        <!-- CopyRight Start -->
        <div class="copyright">
            <div class="container">
                 <p>Powered By: <a href="#" class="color">KodeForest</a></p>
                <span>© 2013 Night Rock. All rights reserved</span>
            </div>
        </div>
        <!-- CopyRight End -->
    </footer>
    <!--- Footer End -->
</div>
<!--- Wrapper End -->
{% endblock %}