{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<!--- Wrapper Start -->
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- BreadCrumb Start -->
    <div class="breadcrumb webkit">
        <!-- Container Start -->
        <div class="container">
            <h1 class="color">Articles</h1>
        </div>
        <!-- Container End -->
    </div>
    <!-- BreadCrumb End -->
    <div class="clear">
    </div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Latest Album Start -->
                    <div class="latest-album">
                        <div class="minus-margin">
                            <div class="row">
                                <div class="span12">
                                {% for article in articles %}
                                    <article>
                                        <div class="text webkit">
                                            <div class="left-sec">
                                                <h3><a href="{{ path('eam_default_default_article', {'id': article.id }) }}">{{ article.name }}</a></h3>
                                                <p>{{ article.date|date('d/m') }}/{{ article.year }}</p>
                                            </div>
                                        </div>
                                    </article>
                                    {% if loop.index is divisible by(3) %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Latest Album End -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    {% include 'EAMDefaultBundle::footer.html.twig' %}
</div>
<!--- Wrapper End -->
{% endblock %}