{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- BreadCrumb Start -->
    <div class="breadcrumb webkit">
        <!-- Container Start -->
        <div class="container">
            <h1 class="color">Palmarès</h1>
        </div>
        <!-- Container End -->
    </div>
    <!-- BreadCrumb End -->
    <div class="clear">
    </div>
    <!-- Content Start -->
    <div class="content">
        <div class="container">
            <div class="heading"><h2><span class="color">Année </span>2015</h2></div>
            <div class="row">
                <div class="span12 tabs margin-bt">
                    <p>Stade Champion     Régional 5000M marche en 27’48″92 .le 31/05/15 Lyon.</p>
                    <p>Salle 3ème (place) Régional 5000M marche en 28’11″72 .le 11/01/15 Lyon.</p>
                </div>
            </div>
            <div class="heading"><h2><span class="color">Année </span>2014</h2></div>
            <div class="row">
                <div class="span12 tabs margin-bt">
                    <p>Stade Medaille de Bronze coupe de France-relais marche 18 km en 1h31’48.le 12/10/14 saint Etienne.</p>
                    <p>Stade Vice-Champion Régional 30 minutes marche 5315 m.le 20/09/14 Decines.</p>
                    <p>Stade Vice-Champion Régional 3000M marche en 17’22″99.le 15/06/14 Grenoble.</p>
                    <p>Stade Vice-Champion Départemental 3000M marche en 16’39″78.le 29/05/14 Venissieux.</p>
                </div>
            </div>
             <div class="heading"><h2><span class="color">Année </span>2013</h2></div>
            <div class="row">
                <div class="span12 tabs margin-bt">
                    <p>Stade Vice-Champion Régional 30 minutes marche 5293 m.le 22/09/13 Decines.</p>
                    <p>Stade Champion Régional 3000M marche en 16’53″43.le 16/06/13 Bourg en bresse.</p>
                    <p>Stade Vice-Champion Départemental 3000M marche en 17’04″88.le 08/05/13 Venissieux.</p>
                </div>
            </div>
             <div class="heading"><h2><span class="color">Année </span>2012</h2></div>
            <div class="row">
                <div class="span12 tabs margin-bt">
                    <p>Stade Champion Départemental 2000M marche en 11’19″39.le 08/05/12 Venissieux.</p>
                </div>
            </div>
              <div class="heading"><h2><span class="color">Année </span>2011</h2></div>
            <div class="row">
                <div class="span12 tabs margin-bt">
                    <p>Stade Vice Champion Départemental 2000M marche en 11’45″30.le 15/05/11 Villefranche/Saone.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'EAMDefaultBundle::footer.html.twig' %}
{% endblock %}