<!--- Footer Start -->
<footer>
    <!-- CopyRight Start -->
    <div class="copyright">
        <div class="container">
            <span>© 2015 En Avant Marche 69</span>
        </div>
    </div>
    <!-- CopyRight End -->
</footer>
<!--- Footer End -->
<div class="clear"></div>