<!DOCTYPE html>
<html lang="fr">
    <head>
    {% stylesheets
        '@bootstrap'
        '@EAMDefaultBundle/Resources/public/css/blog.css'
        '@EAMDefaultBundle/Resources/public/css/bootstrap-grid.css'
        '@EAMDefaultBundle/Resources/public/css/bootstrap-responsive.css'
        '@EAMDefaultBundle/Resources/public/css/color.css'
        '@EAMDefaultBundle/Resources/public/css/font-awesome.css'
        '@EAMDefaultBundle/Resources/public/css/jquery.bxslider.css'
        '@EAMDefaultBundle/Resources/public/css/portfolio.css'
        '@EAMDefaultBundle/Resources/public/css/prettyphoto.css'
        '@EAMDefaultBundle/Resources/public/css/style.css'
        '@EAMDefaultBundle/Resources/public/css/time-circles.css'
        '@EAMDefaultBundle/Resources/public/css/eam.css'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% javascripts
        '@EAMDefaultBundle/Resources/public/js/jquery-1.10.2.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>EAM - En Avant marche 69</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
        {% javascripts
            '@EAMDefaultBundle/Resources/public/js/*'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block scripts %}
        {% endblock %}
    </body>
</html>